
<html>
<title>Bastu Home Page</title>
<header>
    <h1 style='margin-left:500px; margin-top:200px; color:red;'>Hello world !!! </h1><br><hr>
</header>
<body>
    <form action="#" method="post" enctype="multipart/form-data" style="margin-left:500px; margin-top:50px; color:red;">
        <h2>Upload file to Save district and municiapality</h2>
        {{form.as_p}}
    <input type="submit" value="Upload" name="time" class="mt-4 mb-4 btn btn-primary">
    </form>
    <hr>


    <div class="container">
        <form action="{%url 'accounts:upload-category' %}" method="post" enctype="multipart/form-data" style="margin-left:500px; margin-top:100px; color:red;">
        <h2>Upload excel file to save category and Breed</h2>
        {% csrf_token %}
            {{form.as_p}}
        <input type="submit" value="Upload" name="time" class="mt-4 mb-4 btn btn-primary">
        </form>
    </div>
    <hr>

</body>
</html>
