/* Assuming that your HTML structure includes a container element with class "row" */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #campaign {
    height: 500px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4; /* Set your desired background color */
  }
  
  .row {
    margin-left: 200px; /* Adjust margin-left as needed */
  }
  
  /* Additional styles for the "Coming Soon!!" text */
  section {
    /* max-width: 800px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1, h2 {
    color: #3498db;
    margin-top: 70px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  